.bracket, .standings {
  text-align: center;
  h2 {
    text-align: left;
    padding: 0 0 0 1em;
    margin: 0 0 2em 0;
    .fa {
      font-size: 0.75em;
      display: inline-block;
      vertical-align: top;
      &:after {
        content: "";
        display: block;
        border-top: 2px solid;
      }
    }
  }
}
