.standings {
  position: relative;
  text-align: center;
  background: $lighter-grey;
  padding-top: 2em;
  margin: 2em 0;
  .error {
    text-align: left;
    padding: 0.5em 0 0 1.25em;
  }
  ul {
    display: table-row;
    &:nth-child(odd) {
      background: white;
    }
    li {
      display: table-cell;
      width: 7%;
      vertical-align: middle;
      text-align: center;
      padding: 0.75% 1% 0.75% 1%;

      &.logo {
        height: 4em;
        img {
          width: 4em;
          height: auto;
          // border-radius: 2em;
        }
      }
      &.predict {
        color: $blue;
        font-weight: bold;
        a {
          color: $blue;
          display: block;
          &:first-child {
            .fa {
              border-bottom: 1px dotted;
            }
          }
        }
      }
      &.hide {
        display: none;
      }
      &.sub_five {
        color: red;
      }
      &.record {
        span {
          display: inline-block;
          vertical-align: middle;
          &.win-streak, &.lose-streak {
            font-size: 0.75em;
          }
          &.win-streak {
            color: $green;
          }
          &.lose-streak {
            color: $red;
          }
        }
      }
    }
  }

  .west {
    .predict {
      color: $red;
      a {
        color: $red;
      }
    }
  }

  .east, .west {
    display: inline-block;
    padding: 2em 0 4em 0;
    width: 100%;
  }


  .icon {
    display: inline-block;
    text-align: center;
    margin-bottom: 2em;
    span {
      line-height: 1.8em;
      display: inline-block;
      vertical-align: bottom;
      text-align: center;
      width: 1.75em;
      height: 1.75em;
      border-radius: 0.875em;
      background: $lighter-grey;
      color: $lighter-grey;
      font-weight: bold;
      font-size: 1.5em;
      &:after {
        position: relative;
        top: 0.25em;
        width: 100%;
        display: block;
        content: "";
        border-top: 3px solid $blue;
      }
    }
    &.small-west, &.small-east {
      position: absolute;
      left: 1.5em;
      padding: 0.25em 0.5em 0.25em 0.5em;
      width: 4em;
      font-size: 0.75em;
      border-radius: 0.875em;
      text-decoration: none;
      background: $lighter-grey;
      font-weight: bold;
      &:after {
        display: none;
      }
    }

    &.small-west {
      color: $red;
      border: 2px solid $red;
    }
    &.small-east {
      color: $blue;
      border: 2px solid $blue;
    }

    &.large-east {
      span {
        border: 2px solid $blue;
        color: $blue;
        &:after {
          border-color: $blue;
        }
      }
    }

    &.large-west {
      span {
        border: 2px solid $red;
        color: $red;
        &:after {
          border-color: $red;
        }
      }
    }


  }

  .legend {
    position: relative;
    li {
      font-size: small;
      line-height: 1.25em;
      vertical-align: bottom;
    }
    
  }
}
