
<main>
  <section class="plain-content">
    <h1>Page Not Found</h1>
    <p>Sorry, but the page you were trying to view does not exist. {{link-to 'Return to bracket' 'application'}}</p>
  </section>
</main>
